body {  
    font-family: 'Playfair Display', serif;
    
}

.container-fluid {
    background-color: lavender;}

.futureCard, .currentCard {
    background-color: rgb(47, 47, 69);
}
.col-12{
    margin-top: 50px;
}